.wrapper > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.wrapper > div:nth-child(1){
    gap: 48px;
}
.wrapper{
    display: flex;
    padding: 28px 144px;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
    /* margin: 28px 144px; */
}
.wrapper a,
.wrapper select{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
    outline: none;
}
.wrapper a {
    color: var(--11-text-color-dark-01-text-primary, #FFF);

}
.userProfile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    cursor: pointer;


}

.userAvatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.userName {
    font-weight: 600;
    font-size: 14px;
    color: #ddd;
}
.joinBtn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.wrapper a span{
    color: #919EAB;
}
.pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.wrapper a:first-child{ 
    height: 20px;
}

.wrapper a button{
    padding: 6px 16px;
    background-color: white;
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}
.wrapper div:nth-child(2) a:nth-child(2),
.wrapper div:nth-child(2) a:nth-child(3){
    height: 20px;
}
.wrapper >  a:nth-child(1) img {
    height: 27px;
} 
.wrapper > div:nth-child(2){
    width: 25%;
}
.wrapper > div:nth-child(2) >button{
    display: none;
    border: none;
    cursor: pointer;
    background: none;
    height: 24px;
}
.navRight {
    position: relative; /* Чтобы абсолютная форма позиционировалась относительно этого дива */
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchWrapper {
    position: absolute;
    right: 140px; /* Подбери значение, чтобы форма была рядом с лупой */
    top: 50%;
    left: -70%;
    transform: translateY(-50%);
    z-index: 10;
    animation: fadeIn 0.3s ease;
}

.searchForm input {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    width: 200px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.iconBtn {
    background: none;
    border: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-50%) translateX(10px); }
    to { opacity: 1; transform: translateY(-50%) translateX(0); }
}
@media (max-width: 576px){
    .wrapper{
        height: 64px;
        padding: 40px 20px;
        align-items: center;
        gap: 0 !important;
        justify-content: space-between;
        width: 100%;
    }
    .wrapper > div:nth-child(2) > button{
        display: block;
    }
    .wrapper > div:nth-child(1) > a > span , 
    .navLeft div{
        display: none;
    }
    .wrapper > div:nth-child(2) >*{
        display: none;
    }
    .wrapper > div:nth-child(2) > a:nth-child(2){
        display: block;
    }
    .wrapper > div:nth-child(2) > a:nth-child(1) > img:nth-child(2){
        width: 24px;
    }
    .wrapper > div:nth-child(2) > a:nth-child(1) > img:nth-child(1){
        display: block;
    }
    .wrapper > div:nth-child(2) > a:nth-child(1){
        display: flex;
        justify-content: space-between;
        width: 88px;
    }
    .wrapper > div:nth-child(2) > a:nth-child(1) img{
        width: 40px;
    }
    .wrapper > div:nth-child(1){
        gap: 0;
    }

}